$animationDuration: 0.8s;

.brands .cell__inner {
	padding: 0;
}

.brand {
	position: relative;
	transition: all $animationDuration;
	width: 100%;
	height: 100%;

	@media screen and (min-width: rem-calc(640px)) and (max-height: rem-calc(700px)) {
		min-height: 700px;
	}

	@media screen and (min-width: rem-calc(1100px)) {
		min-height: 600px;
	}

	&__inner {
		position: absolute;
		top: 0;
		z-index: 1;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@include breakpoint(small only) {
			position: relative;
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(20);
		}
	}

	&__heading {
		position: absolute;
		transition: all $animationDuration;
		display: flex;
		flex-direction: column;
		max-height: 40%;
		width: 100%;
		text-align: center;
		transform: translateY(-25%);

		@media screen and (max-width: 1024px) {
			position: relative;
			top: 30%;
		}

		@media screen and (max-width: 1024px) {
			top: 10%;
			//transform: translateY(75%);
			transform: translateY(25%);
		}

		@include breakpoint(small only) {
			position: relative;
			transform: none;
			top: auto;
			margin: rem-calc(20 0);
		}

		.cell:first-child & {
			@media screen and (max-width: 1024px) {
				transform: translateY(50%);
			}

			@media screen and (max-width: 760px) {
				transform: translateY(75%);
			}

			@include breakpoint(small only) {
				transform: none;
			}
		}

		.cell:hover & {
			transform: translateY(-110%);

			@media screen and (max-width: 1024px) {
				position: relative;
				transform: translateY(0);
				top: 0;
			}

			@include breakpoint(small only) {
				top: auto;
				transform: none;
			}
		}

		&-logo {
			height: 20vh;
			min-height: 130px;
		}
	}

	&__content {
		position: absolute;
		top: 50%;
		visibility: hidden;
		opacity: 0;
		margin: 0 auto;
		transition: all 0.8s;
		font-size: 16px;
		line-height: 1.5;
		padding: 0 10%;
		transform: scale(0.6);

		@media screen and (max-width: 1024px) {
			position: relative;
			top: 25px;
		}

		@media screen and (min-width: 1025px) {
			top: 45%;
		}

		.cell:hover & {
			visibility: visible;
			opacity: 1;
			padding: 0 10%;
			transform: scale(1);
		}

		@include breakpoint(small only) {
			visibility: visible;
			opacity: 1;
			padding: 0 10%;
			transform: scale(1);
			top: auto;
		}
	}
}

@keyframes textMoveOut {
	0% {
		visibility: visible;
		opacity: 1;
		bottom: calc(50% - 14px);
	}

	30% {
		opacity: 0;
	}

	100% {
		visibility: hidden;
		opacity: 0;
		bottom: 70%;
	}
}

@keyframes textMoveIn {
	0% {
		visibility: hidden;
		opacity: 0;
		bottom: 70%;
	}

	10% {
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
		bottom: calc(50% - 14px);
	}
}
